<p id="notice"><%= notice %></p>

<h1>Survey Responses</h1>

<table class="table">
  <thead>
    <tr>
      <th> Name </th>

      <% SurveyResponsesController::SURVEY_QUESTIONS.each do |q| %>
        <th> <%= q[:short] %> </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @survey_responses.each do |survey_response| %>
      <tr>
        <td><%= survey_response.name %></td>
        <% SurveyResponsesController::SURVEY_QUESTIONS.each_with_index do |q, i| %>
          <% resp = [survey_response.question1,
            survey_response.question2, survey_response.question3][i] %>
          <td> <%= q[:choices][resp] %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td> <b> Median </b> </td>
      <% SurveyResponsesController::SURVEY_QUESTIONS.each_with_index do |q, i| %>
        <td>
          <%= median(i + 1) %>
        </td>
      <% end %>
    </tr>
  </tfoot>
</table>

<br>

<%= link_to 'New Survey Response', new_survey_response_path %>
